<link rel="import" href="bower_components/polymer/polymer.html">

<!-- Image Slider -->
<dom-module id="image-slider">

    <template>
        <style>
        :host {
            position: relative;
            display: block;
            transition: height .3s;
        }

        .arrows {
            position: absolute;
            z-index: 3;
            top:0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 50px;
        }

        .arrows.left {
            left: 0;
        }

        .arrows.right {
            right:0;
        }

        .arrows svg {
            cursor: pointer;
            background-color: rgba(255,255,255,.5);
            padding: 10px;
        }

        </style>
        <div class="slide-wrapper" onmouseenter="pause()" onmouseleave="resume(this)">
            <content></content>
            <div class="arrows left">
                <svg id="left" height="40" viewBox="0 0 48 82" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M14.875 41l32.02-32.02c.543-.542.814-1.167.814-1.873s-.273-1.33-.816-1.873L42.82 1.16c-.542-.543-1.167-.815-1.872-.815-.706 0-1.33.272-1.874.815L1.107 39.126C.564 39.67.293 40.294.293 41c0 .706.27 1.33.814 1.874L39.073 80.84c.543.544 1.168.815 1.874.815.705 0 1.33-.27 1.873-.815l4.074-4.072c.543-.543.814-1.168.814-1.875 0-.705-.27-1.33-.814-1.873L14.874 41z" fill="#000" fill-rule="evenodd"/></svg>
            </div>
            <div class="arrows right">
                <svg id="right" height="40" viewBox="0 0 48 82" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M33.127 41L1.107 8.98C.564 8.438.293 7.813.293 7.107s.272-1.33.815-1.873L5.182 1.16C5.724.617 6.35.345 7.054.345c.706 0 1.33.272 1.874.815l37.967 37.966c.543.543.814 1.168.814 1.874 0 .706-.27 1.33-.815 1.874L8.93 80.84c-.544.544-1.17.815-1.875.815-.705 0-1.33-.27-1.873-.815l-4.074-4.072C.565 76.225.294 75.6.294 74.893c0-.705.27-1.33.814-1.873L33.128 41z" fill="#000" fill-rule="evenodd"/></svg>            </div>
        </div>
    </template>

    <script>

        // Slider Data 'Object'
        var Slider = function Slider(){
            var __selector, __slides, __count, __current, __loopID;
            function selector(value) {
                if (value === undefined){
                    return __selector;
                } else {
                    __selector = value;
                }
            }
            Slider.selector = selector;

            function slides(value) {
                if (value === undefined){
                    return __slides;
                } else {
                    __slides = value;
                }
            }
            Slider.slides = slides;

            function count(value) {
                if (value === undefined){
                    return __count;
                } else {
                    __count = value;
                }
            }
            Slider.count = count;

            function current(value) {
                if (value === undefined){
                    return __current;
                } else {
                    __current = value;
                }
            }
            Slider.current = current;

            function loopID(value) {
                if (value === undefined){
                    return __loopID;
                } else {
                    __loopID = value;
                }
            }
            Slider.loopID = loopID;
        }

        // Create Slider Data 'Object'
        Slider();

        Polymer({
            is: "image-slider",
            properties: {
                 delay: Number,
                 speed: Number,
                 scaling: Number
                },
            listeners: {
                'left.tap': 'back',
                'right.tap': 'forward'
            },
            ready: function() {
                // Stores the slider element
                Slider.selector(this);

                // Checks if the page is ready
                PageReady();
                function PageReady() {
                    setTimeout(function(){
                        if (document.readyState === "complete") {
                            // Gets The Slider Object
                            selector = Slider.selector();

                            // Setup Slider
                            // Store Slides
                            Slider.slides(selector.getElementsByTagName("image-slide"));
                            slides = Slider.slides()

                            // Store Total Slide Count
                            Slider.count(slides.length);
                            count = Slider.count();

                            //Hides Slides, Sets Animation Speed
                            for (i=1; i < count; i++) {
                                slides[i].setAttribute('visible','false');
                                slides[i].style["animation-duration"] = (selector.speed) + "ms";
                            }

                            // Sets The current Slide To 0
                            Slider.current(0);
                            current = Slider.current()

                            // Resizes The Slider
                            selector.fire('resizeSlider');

                            // Starts The Main Loop
                            loopID = ImageLoop();
                            Slider.loopID(loopID);
                        } else {
                            PageReady()
                        }
                    }, (10) );
                }
            },
            // Moves Back 1 Slide
            back: function() {
                selector = Slider.selector();
                selector.fire('back');
            },
            // Moves Forward 1 Slide
            forward: function() {
                selector = Slider.selector();
                selector.fire('forward');
            }
        });

        // Main Loop
        var ImageLoop = function ImageLoop() {
            selector = Slider.selector();
            id = setTimeout(function(){
                    selector.fire('forward');
                    Slider.loopID(ImageLoop());
                }, (selector.delay) );
            return id
        }

        // Event Listeners
        // Foward
        document.querySelector('image-slider').addEventListener('forward', function (e) {
            // Pulls Down Variables
            selector = Slider.selector();
            current = Slider.current();
            count = Slider.count();
            slides = Slider.slides();

            if (current === count - 1){
                current = 0;
            } else {
                current++;
            }
            if (current === 0) {
                slides[count - 1].setAttribute('visible','false');
            } else {
                slides[current - 1].setAttribute('visible','false');
            }
            slides[current].setAttribute('visible','true');

            // Updates variables
            Slider.current(current)

            // Resize Event
            selector.fire('resizeSlider');
        })

        // Back
        document.querySelector('image-slider').addEventListener('back', function (e) {
            // Pulls down variables
            selector = Slider.selector();
            current = Slider.current();
            count = Slider.count();
            slides = Slider.slides();

            if (current === 0){
                current = count - 1;
            } else {
                current = current - 1;
            }
            if (current === count - 1) {
                slides[0].setAttribute('visible','false');
            } else {
                slides[current + 1].setAttribute('visible','false');
            }
            slides[current].setAttribute('visible','true');

            // Updates variables
            Slider.current(current)

            // Resize Event
            selector.fire('resizeSlider');
        })

        // Resize
        document.querySelector('image-slider').addEventListener('resizeSlider', function (e) {
            // Pulls down variables
            selector = Slider.selector();
            current = Slider.current();
            slides = Slider.slides();

            image = slides[current].getElementsByClassName("slide_image");
            height = image[0].clientHeight.toString();
            width = image[0].clientWidth.toString();
            selector.style['height'] = height + 'px'
        })

        // Pause
        document.querySelector('image-slider').addEventListener('pause', function (e) {
            loopID = Slider.loopID();
            clearInterval(loopID);
        })

        // Resume
        document.querySelector('image-slider').addEventListener('resume', function (e) {
            loopID = Slider.loopID();
            loopID = ImageLoop()
            Slider.loopID(loopID);
        })

        // Resize
        window.addEventListener('resize', resize, true);
        function resize(){
            selector = Slider.selector();
            window.removeEventListener('resize', resize, true);
            setTimeout(function(){
                selector.fire('resizeSlider');
                window.addEventListener('resize', resize, true);
            }, (selector.scaling) );
        }

        // Activators
        var pause = function pause(){
            selector = Slider.selector();
            loopID = Slider.loopID();
            if (loopID != undefined) {
                selector.fire('pause');
            }
        }

        var resume = function resume(){
            selector = Slider.selector();
            loopID = Slider.loopID();
            if (loopID != undefined) {
                pause();
                selector.fire('resume');
            }
        }
    </script>

</dom-module>


<!-- Image Slide -->
<dom-module id="image-slide">

    <template>
        <style>
        :host {
            position: absolute;
        }

        :host > div{
            position: relative;
        }

        :host img {
            width: 100%;
        }

        :host[visible="false"] {
            animation: hidden;
            animation-duration: 1s;
            opacity: 0;
            z-index: 0;
        }

        :host[visible="true"] {
            animation: visible;
            animation-duration: 1s;
            opacity: 1;
            z-index: 1;
        }

        :host > div > div {
            position: absolute;
            top: 0;
            left: 0;
            bottom:0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
        }

        @keyframes hidden {
            from {opacity: 1;}
            to {opacity: 0;}
        }

        @keyframes visible {
            from {opacity: 0;}
            to {opacity: 1;}
        }

        </style>
        <div>
            <img class="slide_image" src="{{path}}" alt="{{alt}}">
            <div>
                <content></content>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: "image-slide",
            properties: {
                path: String,
                alt: String
            }
        });
    </script>
</dom-module>
